<section class="about clearfix" id="about">
	<div class="page-container-flex">
	    <div class="right">
	    	<img src="assets/img/reuben.jpg" alt="">
	    </div>
	    <div class="left">
		    <h2 class="section-hd to-upper black">About</h2>
		    <p>Ingber Development Company was first established in 2013 by Reuben Ingber to help clients create unique web experiences. Reuben is a front-end developer who has several years of experience building modern and responsive websites.</p>
	    </div>
    </div>
</section>