<section class="contact">
    <h2>Let's Get To Work!</h2>

    <div class="form">
        CONTACT FORM
    </div>

    <div class="contact-details">
        SOCIAL DETAILS AND EMAIL!
    </div>
</section>