<section class="contact" id="contact">
	<div class="page-container-flex contact-content">
	    <h2 class="center">Let's Get To Work!</h2>

	    <div class="form">
	        <form accept-charset="UTF-8" action="https://formkeep.com/f/391d9b19559e" method="POST">
  				<div class="cols">
	  				<div class="left">
		  				<input type="hidden" name="utf8" value="✓">
						<div class="form-row first-input">
							<span class="form-label">Your Name</span>
							<input type="text" name="name" placeholder="">
						</div>
		  				<div class="form-row">
		  					<span class="form-label">Your Email</span>
		  					<input type="email" name="email" placeholder="">
		  				</div>
						<div class="form-row">
							<span class="form-label">Your Website</span>
							<input type="url" name="url" placeholder="http://">
						</div>
					</div>

					<div class="right">
						<div class="form-row">
							<span class="form-label">Your Message</span>
							<textarea name="message" id="" cols="30" rows="4" placeholder=""></textarea>
						</div>
					</div>
				</div>
				<button class="submit btn" type="submit">Submit</button>
				
  			</form>
	    </div>
    </div>
</section>