<section class="expertise">
    <div class="page-container-flex">
        <h1 class="section-hd to-upper">Expertise</h1>
        <ul class="ui-list">
            <li>
                <div class="expertise-ico">
                    <span class="icon-holder">I</span>
                </div>
                <div class="expertise-details">
                    <h2>Responsive Design</h2>
                    <p>People are every where, so should your website. Out of the gate your custom website or email campaign will be <strong>ready to go on any device</strong>.</p>
                </div>
            </li>
            <li>
                <div class="expertise-ico">
                    <span class="icon-holder">I</span>
                </div>
                <!-- <img src="http://placehold.it/150" alt="" class="expertise-ico"> -->
                <div class="expertise-details">
                    <h2>Development</h2>
                    <p>Using modern technology and the right content managment system for your projact we will construct a website that will be <strong>easy to manage and maintain</strong></p>
                </div>
            </li>
            <li>
                <div class="expertise-ico">
                    <span class="icon-holder">I</span>
                </div>
                <!-- <img src="http://placehold.it/150" alt="" class="expertise-ico"> -->
                <div class="expertise-details">
                    <h2>Personalized Service</h2>
                    <p>Work <strong>one-on-one</strong> with an experienced designer and developer to craft a unique web experience.<p>
                </div>
            </li>
        </ul>
    </div>
</section>
