<section class="expertise">
    <ul>
        <li>
            <img src="http://placehold.it/500x500" alt="">
            <h2>Create</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </li>
        <li>
            <img src="http://placehold.it/500x500" alt="">
            <h2>Build</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </li>
        <li>
            <img src="http://placehold.it/500x500" alt="">
            <h2>Personalize</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </li>
    </ul>
</section>
