<section class="expertise">
    <div class="page-container-flex">
        <h1 class="section-hd to-upper">Expertise</h1>
        <ul class="ui-list">
            <li>
                <div class="expertise-ico">
                    <span class="icon-holder">I</span>
                </div>
                <div class="expertise-details">
                    <h2>Design</h2>
                    <p>Starting from the beginning I will work with you to craft a custom website for your business or organization</p>
                </div>
            </li>
            <li>
                <div class="expertise-ico">
                    <span class="icon-holder">I</span>
                </div>
                <!-- <img src="http://placehold.it/150" alt="" class="expertise-ico"> -->
                <div class="expertise-details">
                    <h2>Development</h2>
                    <p>Each project </p>
                </div>
            </li>
            <li>
                <div class="expertise-ico">
                    <span class="icon-holder">I</span>
                </div>
                <!-- <img src="http://placehold.it/150" alt="" class="expertise-ico"> -->
                <div class="expertise-details">
                    <h2>Responsive</h2>
                    <p>Phone, tablet, computer your site will work.<p>
                </div>
            </li>
             <li>
                <div class="expertise-ico">
                    <span class="icon-holder">I</span>
                </div>
                <!-- <img src="http://placehold.it/150" alt="" class="expertise-ico"> -->
                <div class="expertise-details">
                    <h2>Blogs</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li>
                <div class="expertise-ico">
                    <span class="icon-holder">I</span>
                </div>
                <!-- <img src="http://placehold.it/150" alt="" class="expertise-ico"> -->
                <div class="expertise-details">
                    <h2>Websites</h2>
                    <p>Launching a new product, need to collect email address.</p>
                </div>
            </li>
            <li>
                <div class="expertise-ico">
                    <span class="icon-holder">I</span>
                </div>
                <!-- <img src="http://placehold.it/150" alt="" class="expertise-ico"> -->
                <div class="expertise-details">
                    <h2>Email</h2>
                    <p>I can produce custom responsive email templates in Mailchimp, Constant Contact or another email service provider</p>
                </div>
            </li>
        </ul>
    </div>
</section>
