<footer>
	<div class="icons">
		<a class="social-ico twitter" href="http://twitter.com/reubeningber" target="_blank"><i class="fa fa-twitter"></i></a>

		<a class="social-ico github" href="{{site.meta['Github']}}" target="_blank"><i class="fa fa-github"></i></a>

		<a class="social-ico email" href="mailto:hello@ingberdevelopment.co" target="_blank"><i class="fa fa-paper-plane"></i></a>
		
		<a class="social-ico podcast" href="http://howtoholdapencil.com" target="_blank"><i class="fa fa-microphone"></i></a>
		
		<a class="social-ico facebook" href="http://facebook.com/reubenaingber" target="_blank"><i class="fa fa-facebook"></i></a>

		<a class="social-ico instagram" href="http://instagram.com/reubeningber" target="_blank"><i class="fa fa-instagram"></i></a>
	</div>

	<div class="credits">
		&copy; <a href="http://ingberdev.co" target="-blank">Ingber Development Company</a> | A <a href="http://twitter.com/reubeningber">Reuben A. Ingber</a> Company 
	</div>
</footer>