<section class="cd-intro">
	<h1 class="cd-headline letters type">
		<span>I work on</span> 
		<span class="cd-words-wrapper waiting">
			<b class="is-visible">Web Sites</b>
			<b>Wordpress</b>
			<b>Shopify</b>
			<b>HTML Emails</b>
		</span>
	</h1>
</section> <!-- cd-intro -->