<section id="projects">
	<div class="projects row section text-light" style="background-color:#434A54">
		<div class="row-content buffer even clear-after">					
			<div class="slider desktop-slider white-controls" data-autoplay="3000">
				<figure>
					<div>
						<a target="_blank" href="http://howtoholdapencil.com" class="portfolio-link">
							<img src="assets/img/portfolio/hthap.png" alt="">
						</a>
					</div>
					<div>
						<a href="http://elsaisaac.com" target="_blank" class="portfolio-link">
							<img src="assets/img/portfolio/elsa.png" alt="">
						</a>
					</div>
					<div>
						<a href="http://templeemanue-el.com" target="_blank" class="portfolio-link">
							<img src="assets/img/portfolio/temple.png" alt="">
						</a>
					</div>
					<div>
						<a href="http://rabbikirshner.com" target="_blank" class="portfolio-link">
							<img src="assets/img/portfolio/rabbi.png" alt="">
						</a>
					</div>
					<div>
						<a href="http://weddingber.com" target="_blank" class="portfolio-link">
							<img src="assets/img/portfolio/weddingber.png" alt="">
						</a>
					</div>

				</figure>
			</div>
		</div>	
	</div>
</section>