<section id="projects">
	<div class="projects row section text-light" style="background-color:#434A54">
		<div class="row-content buffer even clear-after">					
			<div class="slider desktop-slider white-controls" data-autoplay="3000">
				<figure>
					<div><img src="assets/img/portfolio/hthap.png" alt=""></div>
					<div><img src="assets/img/portfolio/elsa_2.png" alt=""></div>
					<div><img src="assets/img/portfolio/temple.png" alt=""></div>
					<div><img src="assets/img/portfolio/rabbi.png" alt=""></div>
				</figure>
			</div>
		</div>	
	</div>
</section>