<section class="projects row section text-light" style="background-color:#434A54">
<div class="row-content buffer even clear-after">					
	<div class="slider desktop-slider white-controls" data-autoplay="3000">
		<figure>
			<div><img src="http://placehold.it/1148x630/ddd/fff&text=Beetle%20image" alt=""></div>
			<div><img src="http://placehold.it/1148x630/ddd/fff&text=Beetle%20image" alt=""></div>
			<div><img src="http://placehold.it/1148x630/ddd/fff&text=Beetle%20image" alt=""></div>
			<div><img src="http://placehold.it/1148x630/ddd/fff&text=Beetle%20image" alt=""></div>
			<div><img src="http://placehold.it/1148x630/ddd/fff&text=Beetle%20image" alt=""></div>
			<div><img src="http://placehold.it/1148x630/ddd/fff&text=Beetle%20image" alt=""></div>
			<div><img src="http://placehold.it/1148x630/ddd/fff&text=Beetle%20image" alt=""></div>
		</figure>
	</div>
</div>	
</section>