<section id="projects">
	<div class="projects row section text-light" style="background-color:#434A54">
		<div class="row-content buffer even clear-after">					
			<div class="slider desktop-slider white-controls" data-autoplay="3000">
				<figure>
					<div><img src="http://placehold.it/1148x630/ddd/fff&text=Beetle%20image1" alt=""></div>
					<div><img src="http://placehold.it/1148x630/ddd/fff&text=Beetle%20image2" alt=""></div>
					<div><img src="http://placehold.it/1148x630/ddd/fff&text=Beetle%20image3" alt=""></div>
					<div><img src="http://placehold.it/1148x630/ddd/fff&text=Beetle%20image4" alt=""></div>
					<div><img src="http://placehold.it/1148x630/ddd/fff&text=Beetle%20image5" alt=""></div>
					<div><img src="http://placehold.it/1148x630/ddd/fff&text=Beetle%20image6" alt=""></div>
					<div><img src="http://placehold.it/1148x630/ddd/fff&text=Beetle%20image7" alt=""></div>
				</figure>
			</div>
		</div>	
	</div>
</section>